
<!---------------------------------Archivo Vector-------------------------------------------->

<br>
<div class="principal-title">
  <span>Allocation Problem</span> 
  <img class="stock" src="./assets/stock.svg">
</div>
<br>

<!-----------------------Título------------------------->
<label class="input_file">
  <input type="file" onclick="this.value = null" (change) ="inputFileAlloc($event.target.files)"  accept=".xls, .xlsx" value="">

  <div class="title">
    <span class="title_text">Excel File</span>
    <img class="image" src="./assets/paperclip.svg">
  </div>
</label>
<!------------------------------------------------->



<!--------------------------Drag Box(Área de Archivos)-------------------------------->
<div class="ngx">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedFileAlloc($event)"
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" accept="xls, xlsx" dropZoneClassName="tyu">

    <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">


      <!--Si no se ha arrastrado ningún archivo muestra mensaje por defecto-->
      <div *ngIf="!ExcelFileAlloc; else empty"  id="ngx-text">
        <img width="40" src="./assets/upload-button.svg">
        <br>
        <span>Drag your file here :)</span>
      </div>
      <!--Si no muestra el nombre del archivo ingresado-->
      <ng-template #empty  class="else">
        <div class="else">
          <span>{{FileNameAlloc}}</span>
        </div>
      </ng-template>
      <!-------------------------------------------------------------------->

    </ng-template>


  </ngx-file-drop>
</div>

<br>
<br>
<!--FIRST OPTION: FLUID SOLUTION-->
<!-- <div *ngIf="receivedRacksPrint && receivedRacksPrint.fo !== 0">
  <table  class="table" aria-describedby="mydesc">

    <thead>
      <tr>
        <th scope="col" colspan="3">UBICACIÓN DE REFERENCIAS</th>
      </tr>
      <tr>
        <th scope="col" colspan="3">Función objetivo: {{receivedRacksPrint.fo}}</th>
      </tr>
    </thead>
    
    <tbody>
      
      <tr>
        <th scope="col" colspan="3">Asignación</th>
      </tr>

      <tr>
        <th scope="col" style='width: 33.333333%;'>RACK</th>
        <th scope="col" style='width: 33.333333%;'>REFERENCIA</th>
        <th scope="col">¿HILERAS?</th>
      </tr>
      
      <ng-container *ngFor="let x of receivedRacksPrint.racks ; let i = index">
          <tr *ngFor="let y of receivedRacksPrint.racks[i].referencias; let j = index">
            <td>{{receivedRacksPrint.racks[i].id}}</td>
            <td>{{receivedRacksPrint.racks[i].referencias[j]}}</td>
            <td>{{receivedRacksPrint.racks[i].hileras}}</td>
          </tr>
      </ng-container>
      
      
    </tbody>
  
  </table>
</div> -->


<div *ngIf="receivedRacksPrint && receivedRacksPrint.fo !== 0">
  <table  class="table" aria-describedby="mydesc">

    <thead>
      <tr>
        <th scope="col" colspan="3">UBICACIÓN DE REFERENCIAS</th>
      </tr>
      <tr>
        <th scope="col" colspan="3">Función objetivo: {{receivedRacksPrint.fo}}</th>
      </tr>
    </thead>
    
    <tbody *ngFor="let x of receivedRacksPrint.racks | paginate: {itemsPerPage: itemsPorPagina, currentPage: pageActual}; let i = index">
      
      <tr>
        <th scope="col" colspan="3">Asignación Rack #{{receivedRacksPrint.racks[pageActual-1].id}}</th>
      </tr>

      <tr>
        <th scope="col" style='width: 33.333333%;'>RACK</th>
        <th scope="col" style='width: 33.333333%;'>REFERENCIA</th>
        <th scope="col">¿HILERAS?</th>
      </tr>
  
      <tr *ngFor="let y of receivedRacksPrint.racks[pageActual-1].referencias; let j = index">
        <td>{{receivedRacksPrint.racks[pageActual-1].id}}</td>
        <td>{{receivedRacksPrint.racks[pageActual-1].referencias[j]}}</td>
        <td>{{receivedRacksPrint.racks[pageActual-1].hileras}}</td>
      </tr>
      
    </tbody>
  
  </table>
  
  <div class="pag-section">
    <pagination-controls previousLabel="Previous" nextLabel="Next" (pageChange)="pageActual = $event" 
    class="paginator"></pagination-controls>
  </div>
</div>


<br>
<div style="text-align: center;">
  <button class="btn btn-primary" (click)=downloadFileAlloc() id="button-download">DOWNLOAD</button>
</div>

<br>
<br>

<!----------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------->
