.menu{
    display: flex;
}


.dc-logo{
    height: 30px;
    margin-right: 25px;
    object-fit: cover
}

.colornb {
    background-color: rgb(119, 110, 110) ;
}

.but-nb{
    margin-right: 11px;
    margin-left: 11px;
    background-color: rgb(119, 110, 110);
    border-color: rgb(119, 110, 110);
}

.but-nb:hover{
    background-color: rgb(119, 110, 110);
    border-color: rgb(119, 110, 110);
}

.but-nb:active{
    background-color: rgb(119, 110, 110);
    border-color: rgb(119, 110, 110);
}

.but-nb:focus{
    box-shadow: 0 0 0 0.0rem rgba(112, 57, 117, 0.5);
    background-color: rgb(131, 131, 131);
    border-color: rgb(119, 110, 110);
}
