<nav class="navbar navbar-dark colornb">
    <div class="menu">
        <div class="crop">
            <img src="./assets/DC-logo.jpg" class="dc-logo">
        </div>

        <button type="button" class="btn btn-secondary but-nb" routerLink="/alloc">Allocation</button>
    
    
        <button type="button" class="btn btn-secondary but-nb" routerLink="/pick">Picking</button>
    
        <button type="button" class="btn btn-secondary but-nb">Mix</button>
        
    </div>
</nav>


<router-outlet></router-outlet>

