<!-- Para el uso de arratsrar
https://www.npmjs.com/package/ngx-file-drop
npm install ngx-file-drop --save -->

<!-- Para el paginador
https://www.npmjs.com/package/ngx-pagination
npm install ngx-pagination --save -->

<nav class="navbar navbar-dark colornb">
    <div class="menu">
        <div class="principal-nb">
            <img src="./assets/DC-logo.jpg" class="dc-logo">
            <button type="button" class="btn btn-secondary but-nb" routerLink="/alloc">Allocation</button>
            <button type="button" class="btn btn-secondary but-nb" routerLink="/pick">Picking</button>
            <button type="button" class="btn btn-secondary but-nb">Mix</button>
        </div>

        <div class="icons">
            <a href="https://www.instagram.com/duvyclass_oficial/?hl=es-la" target="_blank"  rel="noopener noreferrer">
                <img class="icon-nb" src="./assets/instagram.svg">
            </a>
            <a href="https://www.facebook.com/DuvyClassPaginaOficial/" target="_blank"  rel="noopener noreferrer">
                <img class="icon-nb" src="./assets/facebook-circular-logo.svg">
            </a>
            <a href="https://github.com/SebastianJHM/WarehouseCF" target="blank" rel="noopener noreferrer">
                <img class="icon-nb" src="./assets/github.svg">
            </a>
            <a href="http://duvyclass.co/" target="blank">
                <img class="icon-nb" src="./assets/shopping-cart.svg" rel="noopener noreferrer">
            </a>
            
            
        </div>
    </div>
</nav>


<router-outlet></router-outlet>

