.dc-logo{
    height: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.colornb {
    background-color: rgb(119, 110, 110);
    height: 70px;
}

.but-nb{
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgb(119, 110, 110);
    border-color: rgb(119, 110, 110);
    font-size: 16px;
    color: rgb(255, 255, 255)
}

.but-nb:hover {
    background-color: rgb(119, 110, 110);
    border-color: rgb(119, 110, 110);
}

.but-nb:active {
    background-color: rgb(119, 110, 110);
    border-color: rgb(119, 110, 110);
}

.but-nb:focus{
    box-shadow: 0 0 0 0.0rem rgba(112, 57, 117, 0.5);
    background-color: rgb(131, 131, 131);
    border-color: rgb(119, 110, 110);
}

.icons{
    margin-left: 650px;
}

a svg path{ 
    fill: rgb(255, 255, 255);
}

a svg:hover path{ 
  fill: rgb(180, 180, 180);
}

.icon-svg{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}