<nav class="navbar navbar-dark colornb">
    <div class="menu">
        <div class="principal-nb">
            <img src="./assets/DC-logo.jpg" class="dc-logo">
            <button type="button" class="btn btn-secondary but-nb" routerLink="/alloc">Allocation</button>
            <button type="button" class="btn btn-secondary but-nb" routerLink="/pick">Picking</button>
            <button type="button" class="btn btn-secondary but-nb">Mix</button>
        </div>

        <div class="icons">
            <img class="icon-nb" src="./assets/instagram.svg">
            <img class="icon-nb" src="./assets/facebook-circular-logo.svg">
            <img class="icon-nb" src="./assets/github.svg">
            <img class="icon-nb" src="./assets/shopping-cart.svg">
        </div>
    </div>
</nav>


<router-outlet></router-outlet>

