/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Lato', sans-serif;
}

.popover-header {
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
}

